*{
    /*box-sizing: border-box;*/
}


body {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #000000;
}


.container {
    width: 600px;
    margin: auto;
    background-color: #000000;
    color: white;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

.passcode {
    display: inline-grid;
    grid-template-columns: 70px 70px 70px 70px;
    grid-gap: 5px;
}

.number {
    background-color: rgba(169, 169, 169, 0.42);
    height: 70px;
    color: white;
    font-size: 25px;
    border: 1px solid #afabab;
    border-radius: 8px;
    display: grid;
    align-items: center;
}


.keypad {
    display: inline-grid;
    grid-template-columns: 70px 70px 70px;
    grid-template-rows: 70px 70px 70px 70px;
    grid-gap: 3px;
    grid-template-areas:
        "a b c"
        "d e f"
        "g h i"
        ". j ."
}

#key0 {
    grid-area: j;
}

.key {
    background-color: black;
    border-radius: 100%;
    color: white;
    font-size: 25px;
    border: 4px solid grey;
    transition: 0.5s;
    align-items: center;
}

.key:hover {
    background: darkgray;
    cursor: pointer;
}


.lose{
    display: none;
    background-color: black;
    position: fixed;
    width: 100%;
    height: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
}
.win{
    display: none;
    background-color: black;
    position: fixed;
    width: 100%;
    height: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

button{
    color: white;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 20px;
    background-color: black;
    font-family: 'Roboto Mono', monospace;
}

.green {
    background-color: green;
}
.red{
    background-color: red;
}